# Build Settings
input: src
build: node build.js
output: build
executable: io-tests

mac_cmd: node backend.js
linux_cmd: node backend.js
win_cmd: node backend.js

# Compiler Settings
flags: -fsanitize=address -O3 -g
debug_flags: -g

# Package Metadata
version: 1
revision: 1

name: socketsupply-io-tests
description: @socketsupply/io Tests

lang: en-US
copyright: Socket Supply Co. © 2021-2022
maintainer: Socket Supply Co.

width: 1024
height: 720

bundle_identifier: co.socketsupply.io.tests

android_manifest_permissions: MANAGE_EXTERNAL_STORAGE

ios_simulator_device: iPhone 13

# linux_forward_console_to_stdout: true
headless: true

env: TMPDIR, TMP, TEMP, HOME, PWD
