# Build Settings
input: src
build: node build.js
output: dist
executable: e2e

# Compiler Settings
flags: -O3
debug_flags: -g

# Package Metadata
version: v1.2.3
version_short: 1.2.3
revision: 1

name: socketsupply-io-e2e-tests
title: @socketsupply/io E2E Tests
description: @socketsupply/io E2E Test

lang: en-us
copyright: Socket Supply Co. © 2021-2022
maintainer: Socket Supply Co.

bundle_identifier: co.socketsupply.io.tests
bundle_identifier_short: co.socketsupply.io.tests

forward_console: true

headless: true
