bundle_identifier: co.sockersupply.io
bundle_identifier_short: co.sockersupply.io

version: v0.0.1
version_short: 0.0.1

name: ssc-io
title: Socket SDK - io.js
copyright: (C) Socket Supply, Co 2022
description: A JavaScript interface to the Socket SDK IPC protocol

env: HOME, USER, TMPDIR, PWD
flags: -O3
output: build
debug_flags: -g
executable: ssc-io

height: 750
width: 1024

linux_cmd: node repl-ipc.js
mac_cmd: node repl-ipc.js

forward_console: true

build: function copy () { cp assets/index.html bin/repl-ipc.js "$1" && esbuild repl-context.js --bundle --platform=browser --outfile="$1/repl-context.js"; }; copy
