bundle_identifier: co.sockersupply.io
bundle_identifier_short: co.sockersupply.io

version: v0.0.1
version_short: 0.0.1

name: ssc-io
title: Socket SDK - io.js
copyright: (C) Socket Supply, Co 2022
description: A JavaScript interface to the Socket SDK IPC protocol

env: HOME, USER, TMPDIR, PWD
flags: -O3
output: build
debug_flags: -g
executable: ssc-io

height: 750
width: 1024

build:
