bundle_identifier: co.sockersupply.io

version: 0.0.1

name: ssc-io
title: Socket SDK - io.js
copyright: (C) Socket Supply, Co 2022
description: A JavaScript interface to the Socket SDK IPC protocol

env: HOME, USER, TMPDIR, PWD
flags: -O3
output: build
debug_flags: -g
executable: ssc-io

height: 750
width: 1024

linux_cmd: node ipc.js
mac_cmd: node ipc.js

# forward_console_to_stdout: true
headless_runner: false

build: copy () { cp index.html package.json "$1" && ../node_modules/.bin/esbuild ipc.js --sourcemap=inline --platform=node --bundle --tree-shaking=true --outfile="$1/ipc.js" && ../node_modules/.bin/esbuild context.js --bundle --platform=browser --outfile="$1/context.js"; }; copy
